<ion-item complex as |section|>
  {{#if section.link}}
    <img src={{item.image.url}} width={{imageWidth}} height={{imageHeight}}>
    <h2>{{item.name}}</h2>
    <p>{{item.lastText}}</p>
    <i class="icon icon-accessory"></i>
  {{/if}}
</ion-item>
